# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

/.next
.next
.next/build-manifest.json

.next/fallback-build-manifest.json
.next/react-loadable-manifest.json
.next/trace
.next/cache/webpack/client-development/0.pack
.next/cache/webpack/client-development/1.pack
.next/cache/webpack/client-development/2.pack
.next/cache/webpack/client-development/3.pack
.next/cache/webpack/client-development/4.pack
.next/cache/webpack/client-development/5.pack
.next/cache/webpack/client-development/index.pack
.next/cache/webpack/client-development/index.pack.old
.next/cache/webpack/server-development/0.pack
.next/cache/webpack/server-development/1.pack
.next/cache/webpack/server-development/2.pack
.next/cache/webpack/server-development/3.pack
.next/cache/webpack/server-development/4.pack
.next/cache/webpack/server-development/index.pack
.next/cache/webpack/server-development/index.pack.old
.next/server/middleware-react-loadable-manifest.js
.next/server/pages/_app.js
.next/server/pages/index.js
.next/static/chunks/_error.js
.next/static/chunks/main.js
.next/static/chunks/webpack.js
.next/static/chunks/fallback/amp.js
.next/static/chunks/fallback/main.js
.next/static/chunks/fallback/node_modules_next_dist_pages__app_js.js
.next/static/chunks/fallback/node_modules_next_dist_pages__error_js.js
.next/static/chunks/fallback/react-refresh.js
.next/static/chunks/fallback/webpack.js
.next/static/chunks/fallback/pages/_app.js
.next/static/chunks/fallback/pages/_error.js
.next/static/chunks/pages/_app.js
.next/static/chunks/pages/index.js
.next/static/webpack/0dfe6bd5fc7ee323.webpack.hot-update.json
.next/static/webpack/1e2ffd6043c373db.webpack.hot-update.json
.next/static/webpack/3b5adf97cf771851.webpack.hot-update.json
.next/static/webpack/3cae9b19cae49479.webpack.hot-update.json
.next/static/webpack/3fe4ba8f852a3f11.webpack.hot-update.json
.next/static/webpack/7cf23bb5837c7c3d.webpack.hot-update.json
.next/static/webpack/7d8d20915b64e268.webpack.hot-update.json
.next/static/webpack/78c8f9092e259845.webpack.hot-update.json
.next/static/webpack/0093be5cf2812215.webpack.hot-update.json
.next/static/webpack/980de38962261517.webpack.hot-update.json
.next/static/webpack/5973ef7831285316.webpack.hot-update.json
.next/static/webpack/45222eee03d2147d.webpack.hot-update.json
.next/static/webpack/85495f9a417a8d39.webpack.hot-update.json
.next/static/webpack/a8124543a542ed7e.webpack.hot-update.json
.next/static/webpack/b661d1a94b2dc99c.webpack.hot-update.json
.next/static/webpack/bfdfa1fc71142fc7.webpack.hot-update.json
.next/static/webpack/c7649d1442378d85.webpack.hot-update.json
.next/static/webpack/cd8a2f08aca0781e.webpack.hot-update.json
.next/static/webpack/d0e8a4e833eba3d1.webpack.hot-update.json
.next/static/webpack/e59c79191e3ca098.webpack.hot-update.json
.next/static/webpack/ea048966c9461d21.webpack.hot-update.json
.next/static/webpack/f779bd5b54b7d920.webpack.hot-update.json
.next/static/webpack/f9289b657a0f392a.webpack.hot-update.json
.next/static/webpack/webpack.0dfe6bd5fc7ee323.hot-update.js
.next/static/webpack/webpack.1e2ffd6043c373db.hot-update.js
.next/static/webpack/webpack.3b5adf97cf771851.hot-update.js
.next/static/webpack/webpack.3cae9b19cae49479.hot-update.js
.next/static/webpack/webpack.3fe4ba8f852a3f11.hot-update.js
.next/static/webpack/webpack.7cf23bb5837c7c3d.hot-update.js
.next/static/webpack/webpack.7d8d20915b64e268.hot-update.js
.next/static/webpack/webpack.78c8f9092e259845.hot-update.js
.next/static/webpack/webpack.0093be5cf2812215.hot-update.js
.next/static/webpack/webpack.980de38962261517.hot-update.js
.next/static/webpack/webpack.5973ef7831285316.hot-update.js
.next/static/webpack/webpack.45222eee03d2147d.hot-update.js
.next/static/webpack/webpack.85495f9a417a8d39.hot-update.js
.next/static/webpack/webpack.a8124543a542ed7e.hot-update.js
.next/static/webpack/webpack.b661d1a94b2dc99c.hot-update.js
.next/static/webpack/webpack.bfdfa1fc71142fc7.hot-update.js
.next/static/webpack/webpack.c7649d1442378d85.hot-update.js
.next/static/webpack/webpack.cd8a2f08aca0781e.hot-update.js
.next/static/webpack/webpack.d0e8a4e833eba3d1.hot-update.js
.next/static/webpack/webpack.e59c79191e3ca098.hot-update.js
.next/static/webpack/webpack.ea048966c9461d21.hot-update.js
.next/static/webpack/webpack.f779bd5b54b7d920.hot-update.js
.next/static/webpack/webpack.f9289b657a0f392a.hot-update.js
.next/static/webpack/pages/index.3b5adf97cf771851.hot-update.js
.next/static/webpack/pages/index.3cae9b19cae49479.hot-update.js
.next/static/webpack/pages/index.3fe4ba8f852a3f11.hot-update.js
.next/static/webpack/pages/index.7cf23bb5837c7c3d.hot-update.js
.next/static/webpack/pages/index.78c8f9092e259845.hot-update.js
.next/static/webpack/pages/index.0093be5cf2812215.hot-update.js
.next/static/webpack/pages/index.5973ef7831285316.hot-update.js
.next/static/webpack/pages/index.45222eee03d2147d.hot-update.js
.next/static/webpack/pages/index.85495f9a417a8d39.hot-update.js
.next/static/webpack/pages/index.b661d1a94b2dc99c.hot-update.js
.next/static/webpack/pages/index.bfdfa1fc71142fc7.hot-update.js
.next/static/webpack/pages/index.cd8a2f08aca0781e.hot-update.js
.next/static/webpack/pages/index.d0e8a4e833eba3d1.hot-update.js
.next/static/webpack/pages/index.e59c79191e3ca098.hot-update.js
.next/static/webpack/pages/index.ea048966c9461d21.hot-update.js
.next/static/webpack/pages/index.f779bd5b54b7d920.hot-update.js
.next/static/webpack/pages/index.f9289b657a0f392a.hot-update.js
